@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2563eb; /* Default Blue */
  --secondary-color: #1e293b; /* Slate 800 */
  --accent-color: #f59e0b; /* Amber 500 */
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
